/* ==========
    HOME
========== */
header {
  min-height:  $header-min-height;
  padding: 0;
  margin-top: calculNavHeight(rem(49), 1, .5);

  .container {
    min-height:  $header-min-height;
    max-width: none !important;
    padding: 0;
  }
}

@include media-breakpoint-up(lg) {
  header {
    min-height: $header-min-height-lg;
    margin-top: calculNavHeight(rem(65), 2.5, 0);

    > .container {
      min-height: $header-min-height-lg;
    }
  }
}



/* ===============
    CAROUSEL
=============== */
header .home-carousel .carousel {
  @include flex(center);
  height:  $header-min-height;
}

@include media-breakpoint-up(md) {
  header .home-carousel .carousel {
    height: calc(100vh - #{calculNavHeight(rem(49), 1, .5)} - (#{$carousel-control-link-font-size} + (#{$home-social-padding-top} * 2)));
  }
}

@include media-breakpoint-up(lg) {
  header .home-carousel .carousel {
    height: calc(100vh - #{calculNavHeight(rem(65), 2.5, 0)} - (#{$carousel-control-link-font-size} + (#{$home-social-padding-top} * 2)));
  }
}

@media (min-width: 768px) and (max-height: 450px){
  header .home-carousel .carousel {
    height: $header-min-height;
  }
}




/* ====================
    CAROUSEL SLIDE
==================== */
header .home-carousel .carousel .carousel-inner .carousel-item {
  &:first-child { @include backgroundImage('../img/slider-home/bg-1.jpg', no-repeat, center, cover); }
  &:nth-child(2) { @include backgroundImage('../img/slider-home/bg-2.jpg', no-repeat, center, cover); }
  &:nth-child(3) { @include backgroundImage('../img/slider-home/bg-3.jpg', no-repeat, center, cover); }
  &:nth-child(4) { @include backgroundImage('../img/slider-home/bg-4.jpg', no-repeat, center, cover); }
  &:last-child { @include backgroundImage('../img/slider-home/bg-5.jpg', no-repeat, center, cover); }
}



/* ======================
    CAROUSEL CONTROL
====================== */
header .home-carousel .carousel .carousel-control {
  @include flex(stretch, space-between);

  > a {
    font-size: $carousel-control-link-font-size;

    span{
      text-shadow: 0.25px 0.5px 0px $black;
    }
  }
}



/* ====================
    CAROUSEL DOTS
==================== */
header .home-carousel .carousel .carousel-indicators {
  li {
    width: $carousel-indicators-li-size;
    height: $carousel-indicators-li-size;
    border: 2px solid $white;
    border-radius: 100%;

    &.active {
      width: $carousel-indicators-li-active-size;
      height: $carousel-indicators-li-active-size;
      border: none;
    }
  }
}



/* ======================
    CAROUSEL CONTENT
====================== */
header .home-carousel .carousel .carousel-inner .carousel-item {
  overflow: auto;

  .container {
    @include flex(center);

    .carousel-caption {
      padding-left: 0;
      padding-right: 0;
      left: 11.5%;
      right: 11.5%;
    }
  }

  @media (max-height: 576px) {
    .container {
      @include flex(flex-start);
    }
  }
}

header .carousel-caption {
  h1 span, p, a {
    opacity: 0;
    animation: fadeInUp 1s forwards;
  }
}

header .carousel-caption {
  h1 span{
    &:first-child{
      font-family: $font-family-secondary;
      font-size: 2.8125rem;
      text-shadow: 0.25px 0.5px 0px $black;
      animation-delay: .5s;
    }

    &:last-child{
      display: block;
      font-family: $font-family-sans-serif;
      font-size: 2.25rem;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: -.1rem;
      text-shadow: 1px 1px 1px $black;
      animation-delay: .75s;
    }
  }
}

header .carousel-caption {
  p{
    font-family: $font-family-serif;
    font-size: .9375rem;
    line-height: 1.625rem;
    margin: 2.9375rem 0;
    text-shadow: 1px 1px 1px $black;
    animation-delay: 1s;
  }

  .btn {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    text-transform: uppercase;
    padding: $button-cta-padding;
    border-radius: 0;
    animation-delay: 1.5s;

    &:focus, &:active {
      box-shadow: none;
    }
  }

  @media (max-height: 576px) {
    .btn {
      margin-bottom: 3rem;
    }
  }
}



/* ========
    RS
======== */
header .home-social {
  @include flex(center, center);
  padding: $home-social-padding-top 0;

  ul {
    @include flex(center, center);
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0 1.5625rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      font-size: 1.125rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  header .home-social {
    display: none;
  }
}

@media (min-width: 768px) and (max-height: 450px){
  header .home-social {
    display: none;
  }
}