/* ============
    COLORS
============ */
$white:     #fff !default;
$white-100: #fdfeff !default;
$white-200: #e2e2e2 !default;
$white-300: #eeeeee !default;
$white-400: #e0e0e0 !default;

$black:     #000 !default;
$black-100: #121212 !default;
$black-200: #1b1b1b !default;
$black-300: #150e06 !default;

$gray-100: #1a1a1a !default;
$gray-200: #292929 !default;
$gray-300: #3f3f3f !default;
$gray-400: #4d4d4d !default;

$orange:  #e4bb7a !default;
$primary: $orange !default;
$secondary: $orange !default;
$dark:      $black-100 !default;
$dark-200:  $black-200 !default;
$dark-300:  $black-300 !default;
$light:     $white-100 !default;
$light-200: $white-200 !default;
$light-300: $white-300 !default;
$light-400: $white-400 !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "dark":       $dark,
    "dark-200":   $dark-200,
    "dark-300":   $dark-300,
    "light":      $light,
    "light-200":  $light-200,
    "light-300":  $light-300,
    "light-400":  $light-400,
    "gray-100":   $gray-100,
    "gray-200":   $gray-200,
    "gray-300":   $gray-300,
    "gray-400":   $gray-400
  ),
  $theme-colors
);



/* ===========
    FONTS
=========== */
$font-family-sans-serif:        'Montserrat', sans-serif !default;
$font-family-serif:             'averageregular', serif !default;;
$font-family-secondary:         'wild_youthregular' !default;
$font-family-base:              $font-family-sans-serif !default;

$font-size-base:    1rem !default; // 16px
$font-size:         $font-size-base !default;
$font-size-0875:    $font-size-base * .875 !default;
$font-size-125:     $font-size-base * 1.25 !default;
$font-size-15:      $font-size-base * 1.5 !default;
$font-size-175:     $font-size-base * 1.75 !default;
$font-size-2:       $font-size-base * 2 !default;
$font-size-25:      $font-size-base * 2.5 !default;



/* ============
    BUTTON
============ */
$button-cta-padding: 1rem 2.8125rem;


/* ================
    TRANSITION
================ */
$duration-slow: .5s;
$duration-fast: .25s;
$duration-ultrafast: .15s;



/* ===================
    BURGER BUTTON
=================== */
$burger-span-color: $black;
$burger-span-size: 1.5rem;
$burger-span-height: 2px;
$burger-span-speed: 0.33s;
$burger-span-easing: cubic-bezier(1, .22, .35, 1.4);
$burger-span-rotation: 135deg;



/* =================
    NAV OVERLAY
================= */
$nav-overlay-background: $black;
$nav-overlay-links-fontsize: $font-size-2;
$nav-overlay-links-color: $white;
$nav-overlay-links-hover-color: $white;



/* =============
    HEADER
============= */
$header-min-height: calc(100vh - #{calculNavHeight(rem(49), 1, .5)});
$header-min-height-lg: calc(100vh - #{calculNavHeight(rem(65), 2.5, 0)});



/* =============
    CAROUSEL
============= */
$carousel-indicators-li-size: .563rem;
$carousel-indicators-li-active-size: .938rem;
$carousel-control-link-font-size: 1.6875rem;



/* =================
    HOME SOCIAL
================= */
$home-social-padding-top: 3.125rem;



/* =============
    SECTION 
============= */
$section-container-padding-top: 2.5rem;
$section-container-padding-bottom: $section-container-padding-top;
$section-container-padding-top-lg: 5.625rem;
$section-container-padding-bottom-lg: $section-container-padding-top-lg;



/* =====================
    SECTION WELCOME
===================== */
$welcome-content-max-width-lg: calc(33.33333% + (2 * 15px));