/* ======================
    TESTIMONIAL DECO
====================== */
.section-testimonial .deco {
  margin-top: 2.5rem;
  margin-bottom: 2.1875rem;
}

@include media-breakpoint-up(lg) {
  .section-testimonial .deco {
    margin-top: 3.125rem;
    margin-bottom: 2.8125rem;
  }
}



/* ==========================
    TESTIMONIAL CAROUSEL
========================== */
.section-testimonial .testimonial-carousel .carousel {
  @include flex(center, center);
}




/* ==================================
    TESTIMONIAL CAROUSEL CONTROL
================================== */
.section-testimonial .testimonial-carousel .carousel .carousel-control {
  @include flex(center, space-between);
  margin-top: calc(-0.938rem - 1rem - 2rem - 3.25rem);

  > a {
    font-size: .6875rem;
  }
}

@include media-breakpoint-down(sm) {
  .section-testimonial .testimonial-carousel .carousel .carousel-control > a {
    width: 5%;
  }
}

@media (min-width: 600px) and (max-width: 991px) and (max-height: 450px) {
  .section-testimonial .testimonial-carousel .carousel .carousel-control > a {
    width: 1%;
  }
}

@include media-breakpoint-up(lg) {
  .section-testimonial .testimonial-carousel .carousel .carousel-control {
    margin-top: calc(-0.938rem - 1rem - 2rem - 4rem);
  }
}




/* ===============================
    TESTIMONIAL CAROUSEL DOTS
=============================== */
.section-testimonial .testimonial-carousel .carousel .carousel-indicators {
  li {
    width: 7px;
    height: 7px;
    border: 1px solid $primary;

    &.active {
      border-color: $primary;
    }
  }
}




/* ==================================
    TESTIMONIAL CAROUSEL CONTENT
================================== */
.section-testimonial .testimonial-carousel .carousel .carousel-inner{
  padding: 0;

  .carousel-item {
    background: $white-100;
    overflow: hidden;

    .carousel-caption {
      position: relative;
      padding: 0 0 3.125rem;
      left: 0;
      right: unset;
    }
  }
}

@include media-breakpoint-only(sm) {
  .section-testimonial .testimonial-carousel .carousel .carousel-inner{
    flex: 0 0 85%;
    max-width: 85%;
  }
}

@media (min-width: 600px) and (max-width: 991px) and (max-height: 450px){
  .section-testimonial .testimonial-carousel .carousel .carousel-inner{
    flex: 0 0 90%;
    max-width: 90%;
  }
}

.section-testimonial .carousel-caption {
  p{
    line-height: 1.5625rem;
    margin: 0;
  }

  ul {
    @include flex(center, center);
    padding-left: 0;
    margin: 1.875rem 0 2.1875rem;

    li {
      font-size: 1rem;
    }
  }

  h5 {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 3.125rem;
  }
}

@include media-breakpoint-up(lg) {
  .section-testimonial .carousel-caption {
    ul {
      @include flex(center, center);
      padding-left: 0;
      margin: 2.5rem 0 2.8125rem;
    }

    h5 {
      margin-bottom: .25rem;
    }
  }
}